.masthead-intro,
.masthead-heading {
  text-align: center;
}

.masthead {
    padding: 6em 0;
     border: 3px;
     background-image: url(sunset-landscape-1082088_1920.jpg);
    background-position: left;
     background-repeat: no-repeat;
    
    
     
}

.masthead-heading {
    margin-bottom: 0.1em;
    color: #ffffff;
    font-family: Molengo;
    font-size: 80px;
    text-shadow: 4px 4px #000000;
    
}

.masthead-intro {
    margin-top: 2em;
    font-family: Lekton;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
   }

.info h2 {
  text-align: center;
   color: #000000;
   font-family: Molengo;
}

.info {
  float: left;
  width: 30%;
  margin-left: 30px;
  font-family: Lekton;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer{
    text-align: center;
}

